/*
Colors used

Text Color (light blue): #d9edff;
Primary Color (dark Blue): #def0ff;
Secondary Color (Black): #000000;

$primary-color: #F0F8FF;
$primary-color-lighter: lighten($primary-color, 50%);
$primary-color-darker: darken($primary-color, 10%);
$secondary-color: #000000;
$text-color-dark: #000;
$text-color-light: #fff;

 */

:root {
  --primary-color: #def0ff;
  --secondary-color: #000000;
  --background-color:  #003461;
  --link-color: #d9edff;
  --link-color-visited: #73a5d1;
}
a {
  color: var(--primary-color);
}
 * {
    box-sizing: border-box;
  }

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr  !important;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

  body {
  font-family: 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);
  background-color: var(--background-color);
  padding: 10px;
  margin: 10px;
    }
h1 {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  line-height: 2;
}
h2 {
    font-size: 22px;
    font-weight: 700;
  }
h3 {
    font-size: 18px;
    font-weight: 700;
  }
h4 {
    font-size: 18px;
    font-weight: 700;
  }
ul {
      list-style: none;
  }
a {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
  }
a{
  font-size: 18px;
  color: #d9edff;
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}
a:visited {
  /* visited link */
  color: #73a5d1;
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 80%;
}
.button, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #000000;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}
td, th{
  padding: 12px;
  margin:  12px;
}
.personalLogo{
    height: 50px;
    width: 50px;
    border: 0px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}
ul.flexContainer{
    justify-content: right;
}

.flexItem {
    flex: 0 1 50px;
}
nav.flexItem{
    flex: 1 1 60px;
}
li.flexItem {
    flex: 0 1 90px;
}

#personalPhoto {
    border: 75px;
    float: left;
    width: 150px;
    margin-right: 50px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.grid_item {
  background-color: #D3D3D3;
  color:  black;
  padding:  10px;
}
.grid_item:last-child {
   grid-column-start:  1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 4;
}
.gridItem:last-child>h3, .gridItem:last-child>p {
      padding-top: 30px;
  }


.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(200px, 100px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(500px, 50px);
  }
  to {
    transform: translate(100px, 50px);
  }
}
.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}
.footerGrid{
  display: flex;
  text-align: center;
  gap: 10px;
  height: 2px;
  width: 2px;
}
.github {
    display: flex;
    text-align: center;
    gap: 10px;
    height: 2px;
    width: 2px;
  }
.linkedin{
    display: flex;
    text-align: center;
    gap: 10px;
    height: 2px;
    width: 2px;
  }

.tdlogo{
    display: flex;
    text-align: left;
    gap: 10px;
    height: 25px;
    width: 25px;
  }
